In [15]:
from datetime import datetime
from dateutil import parser

## Use the datetime to build a date and use dateutil to parse a string as date- both create a datetime object

In [20]:
date_ct=datetime(year=2015,month=12,day=30, hour=21, minute=23 )

In [21]:
date=parser.parse("3rd of January 2014")

In [22]:
date

datetime.datetime(2014, 1, 3, 0, 0)

In [23]:
date_ct

datetime.datetime(2015, 12, 30, 21, 23)

In [27]:
date_ct.weekday

## A list of datetetime is not optimal similar to a list of numbers ( compared to a numerical numpy array)
## the datetime64 type encodes dates as 64 bit integers and hence are efficient

In [29]:
import numpy as np

date_np=np.array('2015-05-28',dtype=np.datetime64)
date_np

array('2015-05-28', dtype='datetime64[D]')

In [32]:
date_np+np.arange(12)#- here we can do vectorized operations on the array of numpy

array(['2015-05-28', '2015-05-29', '2015-05-30', '2015-05-31',
       '2015-06-01', '2015-06-02', '2015-06-03', '2015-06-04',
       '2015-06-05', '2015-06-06', '2015-06-07', '2015-06-08'],
      dtype='datetime64[D]')

## Json string manipulations

In [38]:
import pandas as pd
import json
from pandas.io.json import json_normalize

In [41]:
# define json string
data = [{'state': 'Florida', 
         'shortname': 'FL',
         'info': {'governor': 'Rick Scott','start_date':'08/01/2015'},
         'counties': [{'name': 'Dade', 'population': 12345},
                      {'name': 'Broward', 'population': 40000},
                      {'name': 'Palm Beach', 'population': 60000}]},
        {'state': 'Ohio',
         'shortname': 'OH',
         'info': {'governor': 'John Kasich'},
         'counties': [{'name': 'Summit', 'population': 1234},
                      {'name': 'Cuyahoga', 'population': 1337}]}]

In [57]:
df=pd.DataFrame(data)
df

,state,shortname,info,counties
0,Florida,FL,"{'governor': 'Rick Scott', 'start_date': '08/0...","[{'name': 'Dade', 'population': 12345}, {'name..."
1,Ohio,OH,{'governor': 'John Kasich'},"[{'name': 'Summit', 'population': 1234}, {'nam..."

In [72]:
json_normalize(data,'counties',['state','shortname',['info','governor']])

         name  population    state shortname info.governor
0        Dade       12345  Florida        FL    Rick Scott
1     Broward       40000  Florida        FL    Rick Scott
2  Palm Beach       60000  Florida        FL    Rick Scott
3      Summit        1234     Ohio        OH   John Kasich
4    Cuyahoga        1337     Ohio        OH   John Kasich